# Connecting Python to SQL

In order to make this works correctly, 
Please install first additional library to your python: 
- mysql 
- mysql connector

Details here if necessary: 
https://pynative.com/python-mysql-database-connection/#h-arguments-required-to-connect

In [ ]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

### Creating here a specific function to get connected to a mysql server

In [ ]:
# Definition of a function to get connected to the server
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            database=db_name,
            ssl_ca = 'server-ca.pem',
            ssl_cert = 'client-cert.pem',
            ssl_key = 'client-key.pem'
        )
        print("MySQL Database connection successful")
    except Error as e:
        print("Error while connecting to MySQL", e)

    return connection

### Calling that function using host IP address, user name, password, etc 
and uploading extracted data from the database into a pandas dataFrame

In [ ]:
# Server information
host_name = '34.'
user_name ='dsais'
user_password ='dsais@2023'
# As well as need to specify the name of the database to connect to
db_name ='Chinook'

# Calling the defined function 
connection = create_db_connection(host_name, user_name, user_password, db_name)

In [ ]:
# Defining here the sql query you want to run
sql_query= """select * from Chinook.Track"""

In [ ]:
# Read the sql query and get access to the data from the database
if connection.is_connected():
    df = pd.read_sql(sql_query,connection)

# Display the content of the extracted data
df