<div>
    <img src="images/emlyon.png" style="height:60px; float:left; padding-right:10px; margin-top:5px" />
    <span>
        <h1 style="padding-bottom:5px;"> AI Booster Week 01 - Python for Data Science </h1>
        <a href="https://masters.em-lyon.com/fr/msc-in-data-science-artificial-intelligence-strategy">[Emlyon]</a> MSc in Data Science & Artificial Intelligence Strategy (DSAIS) <br/>
         Paris | Â© Saeed VARASTEH
    </span>
</div>

# Practice - 01: Basics of Python and Numpy
The bonus questions are to be skipped. If you have time left at the end of the session or at home you can try them.

---
### Objectives: 


*Gain familiarity with Python concepts and discover Numpy library by practice*

---

## Part 1: Let's write some functions!

__Exercise 1.__
Write a function called mul_table that takes as input a number and prints the multiplication table of that number.

In [16]:
def mul_table():
    number = int(input("Multiplication Table for: "))
    for i in range(1,11):
        result = number * i
        print(f"{number} x {i} = {result}")

mul_table()

Multiplication Table for: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

__Exercise 2.__
Write a function called prime_list that returns the list of prime factors of a number.

For example, the prime factors of 110 are 2, 5 and 11 and the prime factors of 56 are 2, 2, 2, 7.

In [45]:
l1 = []
 
def prime_list(n):
    for i in range(2, n + 1):
        if n % i == 0:
            n = int(n / i)
            l1.append(i)
            prime_list(n)
            break

a = int(input("pls input a int:"))
prime_list(a)
print(l1)

pls input a int:110
[2, 5, 11]

__Exercise 3.__
Create a function called most_common_char that takes a string as a argument and the returns the most common character in that string. If there is an equality it should return the first on to appear in the string.

Tip: use a dictionnary.

In [58]:
def most_common_char(input_string):
    
    char_count = {}
    
    for char in input_string:
        char_count[char] = char_count.get(char, 0) + 1

    most_common = max(char_count, key=char_count.get)

    return most_common

input_str = "hello"
result = most_common_char(input_str)
print(f"The most common character is: {result}")

The most common character is: l

__Exercise 4.__
Write a function called is_valid_date that takes a date in string format DD/MM/YYYY and checks to see if it is a valid date and in the correct format.

In [59]:
import time

In [80]:
def is_valid_date(date_string):
    try:
        date = time.strptime(date_string, '%d/%m/%Y')
    except Exception:
        raise Exception("invalid date near : {}".format(date_string))
    else: print('True')

SyntaxError: invalid syntax (2542796571.py, line 3)

In [79]:
is_valid_date('09/12/2023')

Exception: invalid date near : 09/13/2023

__Exercise (bonus).__
Create a function called encrypt that takes some text(String) and a Shift(Integer)and then encrypts the text using the Caesar Cipher algorithm, returning the encrypted text.

Create a second function to decrypt an encrypted string, using the same input parameters and returning the decrypted text.

See https://en.wikipedia.org/wiki/Caesar_cipher for more precisions

In [ ]:
def encrypt(strings):

In [ ]:
def decrypt(strings):

## Part 2: Numpy

In [105]:
import numpy as np
from random import randint

__Exercise 1.__
Create a 4X2 array of arbitrary unsigned int16 and prints its following attributes:
- The shape of an array.
- Array dimensions.
- The Length of each element of the array in bytes.

In [114]:
array1 = np.random.randint(10,size=(4,2),dtype = 'int16')

In [115]:
array1

array([[6, 6],
       [4, 5],
       [6, 0],
       [2, 4]], dtype=int16)

In [117]:
print(array1)
print(array1.shape)
print(array1.ndim)
print(array1.itemsize)

[[6 6]
 [4 5]
 [6 0]
 [2 4]]
(4, 2)
2
2

__Exercise 2.__ 
Create a 5X2 integer array from a range between 200 to 400 such that the difference between each element is 20
(tip: think about the reshape() function).

In [124]:
a = np.arange(200,400,20)
a.reshape(5,2)

array([[200, 220],
       [240, 260],
       [280, 300],
       [320, 340],
       [360, 380]])

__Exercise 3.__
Following is the provided numPy array. Return array of items by taking the second column from all rows. Print it.

In [128]:
sampleArray = np.array([[11 ,22, 33], [44, 55, 66], [77, 88, 99]]) 
print("Input Array:")
print(sampleArray)

Input Array:
[[11 22 33]
 [44 55 66]
 [77 88 99]]

In [133]:
col2 = [row[1] for row in sampleArray]
col2

[22, 55, 88]

In [135]:
type(col2)

list

In [134]:
sampleArray[:,1]

array([22, 55, 88])

__Exercise 4.__
Following is the provided numPy array. Return array of odd rows and even columns. Print it.

In [137]:
sampleArray = np.array([[3 ,9, 9, 12], [16 ,18, 231, 24], 
[27 ,30, 33, 36], [39 ,42, 45, 58], [51 ,54, 57, 61]]) 
print("Input Array:")
print(sampleArray)

Input Array:
[[  3   9   9  12]
 [ 16  18 231  24]
 [ 27  30  33  36]
 [ 39  42  45  58]
 [ 51  54  57  61]]

In [147]:
sampleArray[1::2,1::2]

array([[18, 24],
       [42, 58]])

__Exercise 5.__
Create a result array by adding the following two NumPy arrays. Next, modify the result array by calculating the square of each element. Print the resulting array at each step.

In [149]:
array1 = np.array([[2, 6, 5], [2 ,4, 27]])
array2 = np.array([[13 ,0, 3], [16 ,7, 1]])

print("Input Arrays:")
print(array1)
print(array2)

Input Arrays:
[[ 2  6  5]
 [ 2  4 27]]
[[13  0  3]
 [16  7  1]]

In [154]:
array3 = array1 + array2
array3

array([[15,  6,  8],
       [18, 11, 28]])

In [155]:
array4 = array3 ** 2
array4

array([[225,  36,  64],
       [324, 121, 784]])

__Exercise 6.__
Create an 8X5 integer array from a range starting at -20 and such that the difference between each element is 2 and then split the array into four equal-sized sub-arrays.

In [167]:
a = np.arange(-20,60,2)

In [169]:
a = a.reshape(8,5)

In [170]:
a.ndim

2

In [173]:
array1 = a[:2,:]

In [174]:
array1

array([[-20, -18, -16, -14, -12],
       [-10,  -8,  -6,  -4,  -2]])

In [176]:
np.split(a,4)

[array([[-20, -18, -16, -14, -12],
        [-10,  -8,  -6,  -4,  -2]]),
 array([[ 0,  2,  4,  6,  8],
        [10, 12, 14, 16, 18]]),
 array([[20, 22, 24, 26, 28],
        [30, 32, 34, 36, 38]]),
 array([[40, 42, 44, 46, 48],
        [50, 52, 54, 56, 58]])]

__Exercise 7.__
Following is the provided numPy array. Sort it by its third row and then by its second column.

In [24]:
print("Input array:")
sampleArray = np.array([[54,3,723],[85,21,1],[56,54,66]]) 
print (sampleArray)

Input array:
[[ 54   3 723]
 [ 85  21   1]
 [ 56  54  66]]

In [25]:
array_index1 = np.argsort(sampleArray[2,:])
array_final1 = sampleArray[:,array_index1]
print(array_final1)

[[  3  54 723]
 [ 21  85   1]
 [ 54  56  66]]

In [26]:
array_index2 = np.argsort(sampleArray[:,1])
array_final2 = sampleArray[array_index2,:]
print(array_final2)

[[ 54   3 723]
 [ 85  21   1]
 [ 56  54  66]]

__Exercise 9.__
Following is the provided numPy array. 
Delete the second column from it and insert the following new column in its place.

In [13]:
sampleArray = np.array([[34,3,93],[2,52,12],[4,5,86]]) 
newColumn = np.array([[9,8,7]])

In [14]:
sampleArray = np.delete(sampleArray,1,1)

In [16]:
sampleArray = np.insert(sampleArray,1,newColumn,1)

In [18]:
sampleArray

array([[34,  9, 93],
       [ 2,  8, 12],
       [ 4,  7, 86]])