<div>
    <img src="images/emlyon.png" style="height:60px; float:left; padding-right:10px; margin-top:5px" />
    <span>
        <h1 style="padding-bottom:5px;"> AI Booster Week 01 - Python for Data Science </h1>
        <a href="https://masters.em-lyon.com/fr/msc-in-data-science-artificial-intelligence-strategy">[Emlyon]</a> MSc in Data Science & Artificial Intelligence Strategy (DSAIS) <br/>
         Paris | Â© Saeed VARASTEH
    </span>
</div>

<div class="alert-info" style="border-bottom: solid 1px lightgray; background-color:#ece4f5;">
    <img src="images/assignment.png" style="height:60px; float:left; padding-right:10px;" />
    <span style="font-weight:bold; color:#8966b0">
        <h4 style="padding-top:25px;"> EXERCISES 04 </h4>
    </span>
</div>

### Pandas I

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

__Q1__ Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**1.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# your code
df = pd.DataFrame(data= data, index=labels)
df

**2.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [ ]:
df.info()

In [ ]:
df.describe() # get stats on numerical columns

In [ ]:
df.describe(include="O") # to get info on categorical columns

**3.** Return the first 3 rows of the DataFrame `df`.

In [ ]:
df.head(3) # to get the last three is tail(3)

**4.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [ ]:
df[ ["age","animal"] ]

**5.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [ ]:
df.iloc[  [3,4,8] , [0, 1] ]

In [ ]:
df.loc[ df.index[[3,4,8]] , ["age","animal"] ]

**6.** Select only the rows where the number of visits is greater than 3.

In [ ]:
mask = df["visits"] > 3
df[mask]

**7.** Select the rows where the age is missing, i.e. it is `NaN`.

In [ ]:
mask = df["age"].isnull()
df[mask]

**8.** Select the rows where the animal is a cat *and* the age is less than 3.

In [ ]:
mask = ( df["animal"] == "cat" ) & ( df["age"] < 3 )
df[mask]

**9.** Select the rows the age is between 2 and 4 (inclusive).

In [ ]:
mask = (df["age"] >= 2) & (df["age"] <=4)
mask = df["age"].between(2,4)
df[mask]

**10.** Change the age in row 'f' to 1.5.

In [ ]:
df.loc["f","age"] = 1.5

**11.** Calculate the sum of all visits in `df` (i.e. the total number of visits).

In [ ]:
df["visits"].sum()

In [ ]:
arr = df["visits"].values
sum(arr)

**12.** Calculate the mean age for each different animal in `df`.

In [ ]:
df.groupby("animal")["age"].mean()

**13.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [ ]:
df.loc["k"] = ["dog", 2.0, 1, "no"]
df

In [ ]:
df = df.drop(index="k")
df

**14.** Count the number of each type of animal in `df`.

In [ ]:
df["animal"].value_counts()

In [ ]:
df.groupby("animal").size()

In [ ]:
from collections import Counter

Counter(df["animal"])

**15.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [ ]:
df.sort_values(["age","visits"], ascending=[False, True])

**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [ ]:
df.loc[ df["priority"] == "yes" , "priority" ] = True
df.loc[ df["priority"] == "no" , "priority" ] = False

In [ ]:
df['priority'] = df["priority"].map( {"Yes": True, "No" : False} )
df

**17.** In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
df["animal"] = df["animal"].replace("snake","python")
df

**18.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (*hint: use a pivot table*).

In [ ]:
df.pivot_table(index="animal" , columns="visits", values="age", aggfunc="mean")

---